.post-create-tabs {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 5px auto;
    padding: 5px;
    background-color: transparent;
}
