.post-create-text-body-title-container {
    clear: both;
    width: 100%;
    box-sizing: border-box;
    height: inherit;
    overflow-y: auto;
    border: 2px solid #e7e7e7;
    border-radius: 10px;
    background-color: transparent;
}

.post-create-text-body-title {
    box-sizing: border-box;
    width: 100%;
    min-height: 50px;
    background: 0px 0px;
    font-size: 125%;
    overflow-y: auto;
    -ms-overflow-style: none;
    overflow-wrap: break-word;
    border: none;
    outline: none;
    resize: none;
    cursor: text;
    white-space: pre-wrap;
    letter-spacing: normal;
    word-spacing: normal;
}

.post-create-text-body-title::-webkit-scrollbar {
    display: none;
}

.post-create-text-body-title-char-count {
    box-sizing: border-box;
    float: right;
    margin: 10px;
}