.post {
    width: 70%;
    max-width: 70%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    padding: 15px;
    float: left;
}

.post * {
    box-sizing: border-box;
}

.post-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 5px auto;
    padding: 10px;
}

.post-author-profile-picture {
    width: 20%;
    max-width: 60px;
    border-radius: 50%;
    background-color: orange;
}

.post-author {
    border-radius: 999px;
    background-color: transparent;
    font-family: 'Varela Round', sans-serif;
    cursor: pointer;
    padding: 10px;
}

.post-author:hover {
    background-color: #e7e7e7;
}

.post-title {
    width: 100%;
    font-size: 200%;
    font-weight: 500;
    margin: 5px auto;
    padding: 10px;
}

.post-content {
    width: 100%;
    font-size: 100%;
    margin: 5px auto;
    padding: 10px;
}

.post-image {
    width: 100%;
    margin: 5px auto;
    padding: 10px;
}

.post-reaction-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 5px auto;
    padding: 10px;
}

.post-reaction-button {
    background-color: #e7e7e7;
    border-radius: 999px;
    margin: 5px;
    padding: 10px 15px;
}

.post-likes {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.post-upvote, .post-upvote-count, .post-downvote {
    margin: 0 5px;
}

.post-comment-count {
}

.post-share {
}

.post-save {
}