.root {
    width: 100%;
    box-sizing: border-box;
}

.root * {
    box-sizing: border-box;
}

.root-separator {
    width: 100%;
}

.root-outlet {
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 5px;
}